html {
	font-family: Helvetica Neue;
}

body,
.container {
	margin: 0;
	padding: 0;
}
/* nav and footer css */
.navbar {
	background-color: black;
	text-transform: uppercase;
	font-size: 13px;
	padding-top: 30px;
	padding-bottom: 30px;
}

.yellow {
	color: #ffb400;
}

.list-unstyled {
	text-transform: uppercase;
	font-size: 15px;
	padding-top: 45px;
}

.footer-styled {
	padding-left: 35px;
	margin-top: 40px;
}

.social {
	width: 25px;
	margin-right: 15px;
}
.footer-yellow {
	background-color: #ffb400;
	padding: 10px;
	margin: 0;
}
.row {
	margin-left: 0;
	margin-right: 0;
}
.powered-by {
	font-size: 15px;
	margin: 0;
	align-content: center;
	color: white;
}
.navbar-expand-lg .navbar-collapse {
	justify-content: flex-end;
}
.navbar-nav .nav-link,
.navbar-brand {
	color: #ffb400;
}

/* start of contact css */
.contact-header {
	background-color: #ffb400;
	height: 295px;
	width: 100%;
	padding-top: 118px;
	text-align: center;
}
.heading {
	font-size: 50px;
	display: block;
}

.width-body {
	width: 90%;
	display: block;
	margin: 40px auto;
	max-width: 1200px;
}
.paragraph-text {
	font-size: 18px;
	color: #707070;
	margin: 15px 0;
}
.input-contact {
	width: 100%;
	height: 50px;
	border: 1px solid #707070;
	background: transparent;
}
.input-contact-msg {
	height: 170px;
}
.contact-form-btn,
.calculate-form-btn {
	border-radius: 30px;
	/* padding: 10px 50px; */
	background-color: #ffb400;
	color: white;
}
.space {
	margin: 40px 0;
}
.contact-bottom {
	background-color: black;
	color: #ffb400;
}
.white-border {
	border: 1px solid white;
}
.white {
	color: white;
}
.black {
	color: black;
}
/* start of home css */

.home-icons {
	width: 100%;
	height: auto;
}
.heading-two {
	font-size: 23px;
	padding-bottom: 20px;
}
.margin-tp {
	margin-top: 20px;
}
.padding-bt {
	padding-top: 40px;
	padding-bottom: 30px;
}
.responsive-image-icon {
	width: 130px;
}
@media (min-width: 576px) {
	.container {
		max-width: none;
	}
}
@media (max-width: 1057px) {
	.responsive-image-icon {
		width: 90px;
	}
}
/* start of About page*/

.about-cover-text {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
}

.who-we-are-section,
.calculator-container {
	padding: 50px;
	padding-left: 150px;
	padding-right: 150px;
}

.who-we-are-title {
	font-size: 30px;
	letter-spacing: 2.25px;
	text-transform: uppercase;
	font-weight: bold;
}

.who-we-are-p,
.why-gig-eco-p {
	font-size: 19px;
	color: #707070;
	text-align: left;
	opacity: 1;
}

.uppercase {
	font-size: 25px;
	color: black;
	text-transform: uppercase;
	font-weight: bold;
}

.vision {
	font-size: 35px;
	
	font-weight: bold;
}

.black-padding {
	padding: 0 45px;
}

.about-cover-image {
	background: url(../assets/About-us.png);
}

.cover-image-home {
	background: url(../assets/home-img1.png);
}

.cover-image-calculator {
	background: url(../assets/calculate.png);
}

.cover-image {
	width: 100%;
	padding-top: 240px;
	min-height: 650px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
	opacity: 1;
}

.responsive-image-icon-calculator {
	width: 80px;

}
.float-sd {
	display: block;
	float: right;
}

.calculator-padding{
	padding-left: 100px;
}

.input-calculator{
	margin-top: 10px; 
	padding-left: 0;
}

/*Small devices (landscape phones, 576px and up)*/
@media (max-width: 572px) {
	.responsive-image-icon {
		width: 140px;
	}
	.information {
		text-align: center;
	}
	.margin-tp {
		margin-top: 20px;
	}
	.cover-image {
		padding-top: 120px;
		min-height: 350px !important;
	}
	.input-contact {
		height: 40px;
	}
	.input-contact-msg {
		height: 120px;
	}
	.width-body {
		width: 95%;
	}
	.sd {
		text-align: justify;
	}
	.calculator-padding{
		padding-left: 0;
	}

}

@media (max-width: 360px) {
	
	.information {
		text-align: center;
	}

	.responsive-image-icon {
		width: 140px;
	}

	.margin-tp {
		margin-top: 20px;
	}

	.cover-image {
		padding-top: 80px;
	}

	.black-padding {
		padding: 0;
	}
	.calculator-padding{
		padding-left: 0;
	}
	
}
