html {
  background-image: url('images/passion.jpg');
  font-family: Helvetica, sans-serif;
  display: flex;
  font-size: 18px;
  background-size: cover;
  display: flex;
  background-position: center;
  justify-content: center;
  min-height: 100%;
  flex: 1;
}
.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.container-text {
  text-align: center;
  color: purple;
  display: table-cell;
  vertical-align: middle;
  margin: 0;
  
}
